@charset "UTF-8";

/* body { */
/*     font-family: Arial, sans-serif; */
/*     background-color: #f7f7f7; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

.insertLicense {
	display: none;
    width: 40%;
    height: 70%;
/*     max-width: 600px; */
    margin: auto;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow-y: scroll;
}

h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.agreeAndSave {
    text-align: left;
    color: #fff;
    background-color: gray;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
#icon {
	width: 24px;
	height: 24px;
	background: 100%;
	vertical-align: middle;
}

.license_image {
	text-align:center;
    width: 300px;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
/*     margin-bottom: 20px;  */
	margin:auto;
    font-size: 18px;
    color: #7a7a7a;
    border: 1px dashed #ccc;
}
.license_image>img {
	width: 300px;
	heigth: 250px;
	background-color: #e0e0e0;
	border-radius: 20px;
}


.form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.consent_list { /* 전체 동의 */
    margin-top: 20px;
}


.consent_list a {
    margin-left: auto;
    text-decoration: none;
    color: #aaaaaa;
}




.consent_details1  a:hover, .consent_details2  a:hover {
    text-decoration: underline;
}

.licenseInputBtn {
	align-content: center;
    text-decoration: none;
    color: #000000;
    background-color: #ccc;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}



/*  ==============================================================  */
/* 팝업 스타일 */
/* 고유식별정보 수집 및 이용 동의(필수)  */
/*  개인정보 수집 및 이용 동의(필수)  */
.popUp1, .popUp2 {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}
.popUpHeader1, .popUpHeader2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popUpHeader1 h2, .popUpHeader2 h2 {
    margin: 0;
    font-size: 16px;
}
.popUpContent1 tr, .popUpContent2 tr {
    background-color: #e0e0e0;
}
.popUpHeader1 .close, .popUpHeader2 .close {
    cursor: pointer;
    font-size: 16px;
}
.popUpContent1, .popUpContent2 {
    margin: 20px 0;
}
.popUp1 table, .popUp2 table {
    width: 100%;
    border-collapse: collapse;
}
.popUp1 table, .popUp1 th, .popUp1 td,
.popUp2 table, .popUp2 th, .popUp2 td {
    border: 1px solid #ccc;
}
.popUp1 th, .popUp1 td, .popUp2 th, .popUp2 td {
    padding: 8px;
    text-align: center;
}
.popUpConfirm1, .popUpConfirm2 {
    text-align: center;
}
.popUpConfirm1 button, .popUpConfirm2 button {
    padding: 10px 20px;
    background-color: #81c147;
    color: white;
    border: none;
    cursor: pointer;
}
.popUpConfirm1 button:hover, .popUpConfirm2 button:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.confirmBtn1, .confirmBtn2 { /* "확인했어요" 버튼 */
    border-radius: 10px;
}