@charset "UTF-8";

/* 캠핑갈카 홍보 사진/일러스트 슬라이드 */
.SlideImg>img {
	height: 500px;
}

.SlideImg>p {
	position: relative;
	bottom: 250px;
}

.SlideImg {
/* 	width: 720px; */
	height: 500px;
	border: 2px solid red;	/* 임시 */
	overflow: hidden;
}

.slideBestImg {
	height: 500px;
	border: 2px solid red;	/* 임시 */	
	overflow: hidden;
}

/* okokok 차박 베스트 장소 이미지 사이즈 조절 okokok */
.slideBestImg > img {
	height: 500px;
	object-fit:cover;
}

/* 자주 묻는 질문 영역 */
#mainQna {
	border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */
	height: auto;
}

#qna {display: flex;
flex-direction: column;
width: 100%;
border-radius: 3px;
background-color: lightgray;
height: 20px;
padding: 30px 50px;
box-sizing: border-box;
margin-bottom: 0px;
}

#qnaContent {
	height: auto;
	background-color: gray;
	width: 100%;
	padding: 30px 50px;
	box-sizing: border-box;
}

#qnaContent1, #qnaContent2, #qnaContent3 {
	display:block;
	padding: 20px 0px;
	}

#mainQnaMore {
text-align: right;
}

.extra {
	display: inline;
}


.clear {
clear: both;
}