@charset "UTF-8";

/* div { */
/* 	display: block; */
/* } */

#insuranceWrap {
	display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contents {
	padding: 10px 20px;
	height: 1200px;
	margin-bottom: 80px;
	
}

.nextBtnArea {
    display: flex; 
    justify-content: center; 
    padding-top: 10px;
    margin-top: 15px;
}

#nexBtn {
	width: 230px;
	height: 40px;
}

#contents h2 {
	float: left;
}

#reservationStep {
	float: right;
	padding-top: 40px;
}

.reservationStepList {
	list-style-type: none;
}

.reservationStepList li {
    display: inline; /* 리스트 항목들을 인라인으로 배치 */
    margin-right: 20px; /* 각 항목 사이의 간격 설정 */
    color: lightgray;
}

#reservationStepNow {
	color:#59b9a9;
}

#step_wrap {
	text-align: right;
}

#title_reservation {
	text-align: left;
}

main{
     display:flex;
}

.clear {clear: both;
}

/* #insurance {padding-top: 0px; */
/* display: inline-block; */
/* border: 1px solid blue; */
/* height: 350px; */
/* } */

/* #insurance h3 {padding-top: 10px; */
/* margin-bottom: 0px;} */

/* .insuranceList { */
/* 	border: 1px solid red; */
/* 	border-radius: 5px; */
/* 	height: 200px; */
/* 	width: 200px; */
/* 	position: relative; */
/* 	text-align: center; */
/* 	margin-right: 10px; */
/* 	line-height: 40px; */
/* 	padding-top: 10px; */
/* } */

/* .insuranceList input[type="button"] { */
/* 	width: 80px;	 */
/* 	height: 40px;	 */
/* } */

/* .insuranceList h3{ */
/* 	margin-bottom: 20px; */
/* } */

/* #insurance1 { */
/*     margin-top: 0px; */
/* } */

#insurance {
	margin-left: 40px;
}

/* .insuranceList { */
/* 	display: none; */
/* } */

.insuranceRadio {
	text-align: center;
	background-color: lightgray;
	border-radius: 10px;
	box-sizing:border-box;
	display:inline-block;
	height: 180px;
	width: 200px;
	margin: 10px;
	padding-top: 20px;
} 
 
.insuranceRadio .customer {
	display: box;
	padding: 20px;
	box-sizing:border-box;
	background-color: white;
	border-radius: 10px;
	height: 10px;
}

#insuranceDetail {
	text-align: center;
	margin-top: 10px;
}


#driverInfo {padding-top: 0px;
display: inline-block;
height: 680px;
width: 640px;
margin-left: 45px;
margin-top: 20px;
}

#driverInfo a{
float: right;
}


#driverInfo input[type="submit"] {
	width: 100px;	
	height: 40px;

}

#driverInfoSubmit{
background-color:purple;
margin-top:0;
text-align: center;	
}

#driverInfoList {
border-radius: 5px;
height: 550px;		
}

#driverInfoList input[type="text"] {
	width: 220px;
	padding: 3px 5px;
}

#driverInfoList select {
	width: 220px;
	padding: 3px 5px;
}

#driverInfo1 {
	border-radius: 8px;
	float: left;
	/* padding: 10px; */
	padding-left: 20px;
	padding-right:0px;
	margin-left: 10px;
	width: 275px;
	line-height: 30px;
	height: 500px;
	background-color: lightgray;
	margin-right: 10px;
}

#driverInfo2 {
	border-radius: 8px;
	float: right;
	/* padding: 10px; */
	padding-right: 10px;
	padding-left: 20px;
	width: 275px;
	line-height: 30px;
	margin-right: 10px;
	height: 500px;
	background-color: lightgray;
	margin-left: 10px;
}

#driverInfo1 input[type="button"] {
	float: right;
	margin-top: 10px;
	margin-right: 0;
	padding: 3px 5px;
}


/*------------sideContent.jsp---------------------*/
#sideContent {
/* 	position: -webkit -sticky; IE버전 낮을경우 이 항목 추가 입력 */
	position: sticky;
	top: 100px;
	background-color: #fff;
	padding: 20px;
	margin-left: 15px;
	width: 300px; height: 500px;
	z-index: 10;
/* 	float: right; */
	line-height: 20px;
	height: 600px;
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid #ccc;
}

#sideContent img {
	height: 155px;
	object-fit:cover;
	border: 1px solid lightgray;	
}

#sideContent .right{
	float: right;
}

#sideContent .left{
	float: left;
}

#sideContent .sideDiv{
	margin-top: 30px;
}

#sideContent button{
	display: block;
}

#btnArea {
	text-align: center;
}

#nextBtn {
	height: 40px;
	width: 60px;
}

/*------------reservation_final3.jsp---------------------*/
#campingItem {background-color: #0ab;
border-radius: 10px;
padding: 20px;
padding-top: 5px;
padding-bottom: 40px;
}

.addItem1 {
margin-bottom: 40px;
}

#campingSetBtn>input, #campingEtcRow1>input, #campingEtcRow2>input {
	display:inline-block;
	margin-top: 10px;
	text-align: center;
}

#campingSetBtn>input {
	padding: 65px 85px;	
	border-radius: 10px;
	margin-right: 10px;
}

#campingEtcRow1>input {
	padding: 50px 40px;		
	border-radius: 10px;
	margin-right: 10px;
}

#campingEtcRow2>input {
	padding: 50px 40px;		
	border-radius: 10px;
	margin-right: 10px;
}

#campingSet, #campingEtc {
	padding: 10px;
}

#basicItem {background-color: #0ab;
border-radius: 10px;
padding: 30px 30px;
box-sizing: border-box;
}

#basicBtn {
	margin: 20px 0px;
}

#basicBtn>input {
	padding: 65px 80px;	
	border-radius: 10px;
	margin-right: 10px;	
	display:inline-block;
	box-sizing: border-box;
}

/*------------reservation_final4.jsp---------------------*/
.payment {
margin-bottom: 40px;
}

#paymentOption, #userAgreementCheck {background-color: #0ab;
border-radius: 10px;
padding: 30px;
padding-top: 40px;
padding-bottom: 40px;
height: 150px;
display: block;
}

#paymentBtn .paymentBtnAll {
display: block;
width:100%;
height:40px;
text-align: center;
margin-bottom: 10px;
border-radius: 5px;
}

#paymentBtn3{
	margin-bottom: 0px;
}

.payment {
	margin-bottom: 50px;
}

#userAgreementCheck {background-color: #0ab;
border-radius: 10px;
padding: 30px;
padding-top: 40px;
padding-bottom: 40px;
height: 350px;
display: block;
line-height: 40px;
}

#agreementList {
margin-top: 15px;
}

.detail {
	float:right;
}

/*------------reservation_final5.jsp---------------------*/
#reservationComplete {
	background-color: #0ab;
	border-radius: 10px;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
	text-align: center;
	height: 500px;
	line-height: 40px;
}

#completeContent {
	margin-top: 60px;
}

#completeBtn {
	margin-top: 20px;
}

#completeBtn>input {
	padding: 20px 25px;		
}