<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.camcar.mapper.Member_ManageMapper">
	
	<!-- 회원가입 회원정보 -->
	<insert id="insertMember">
		INSERT
		INTO member_info
		VALUES (
			null
			,#{mem_id}
			,#{mem_passwd}
			, CONCAT(#{mem_email1}, '@', #{mem_email2})
			,#{mem_post_code}
			,#{mem_add1}
			,#{mem_add2}
			,#{mem_name}
			,#{mem_jumin}
			,#{mem_tel}
			, 1                   -- sns수신
			,#{mem_birthday}
			, now()               -- 가입일자
			, null                -- 탈퇴일자
			, 1                   -- 회원상태
			, 'N'                 -- 메일인증여부
		)
	</insert>
	<!-- 전체 회원정보 조회 -->
	<!-- 회원정보 게시물 검색기능 -->
	<select id="selectMemberList" resultType="member">
		SELECT *
		FROM member_info
		<if test="!searchKeyword.equals('')">
			WHERE 
			<choose>
				<when test="searchType.equals('name')">
					mem_name LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('idx')">
					mem_idx LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					1 = 1  -- WHERE 절을 포함시키되 조건을 걸고 싶지 않을 경우 활용 가능한 조건식(무조건 true 가 나오는 식이면 OK)
				</otherwise>
			</choose>
		</if>
		ORDER BY
			mem_idx DESC
		LIMIT
			#{startRow}     -- Mapper 내의 메서드에서 @Param("startRow") 로 지정한 파라미터명 사용
			, #{listLimit}  -- Mapper 내의 메서드에서 @Param("listLimit") 로 지정한 파라미터명 사용
	</select>
<!-- 	 전체 게시물 수 조회 -->
	<select id="selectMemberListCount" resultType="int">
		SELECT COUNT(*)
		FROM member_info
		<if test="!searchKeyword.equals('')">
			WHERE
			<choose>
				<when test="searchType.equals('name')">
					mem_name LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('idx')">
					mem_idx LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					1 = 1  -- WHERE 절을 포함시키되 조건을 걸고 싶지 않을 경우 활용 가능한 조건식(무조건 true 가 나오는 식이면 OK)
				</otherwise>
			</choose>
		</if>
	
	
	</select>
	<!-- 회원 상세정보 조회 -->
	<select id="selectMemberInfoDetail" resultType="member">
		SELECT *
		FROM member_info
		WHERE mem_id = #{mem_id} -- bybatis mem_id값 가져오기
	</select>
</mapper>