<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.camcar.mapper.MemberMapper">
	
	<!-- 회원가입 회원정보 -->
	<insert id="insertMember">
		INSERT
		INTO member_info
		VALUES (
			null
			,#{mem_id}
			,#{mem_passwd}
			, CONCAT(#{mem_email1}, '@', #{mem_email2})
			,#{mem_post_code}
			,#{mem_add1}
			,#{mem_add2}
			,#{mem_name}
			,#{mem_jumin}
			,#{mem_tel}
			, 1                   -- sns수신
			,#{mem_birthday}
			, now()               -- 가입일자
			, null                -- 탈퇴일자
			, 1                   -- 회원상태
			, 'N'                 -- 메일인증여부

		)
	</insert>
	
	<insert id="insertDrivers">
		INSERT
		INTO drivers_info
		VALUES (
			null
			,#{dri_name}
			,#{dri_tel}
			,#{dri_birthday}
			,#{lic_info}
			,#{lic_num}
			,#{lic_issue_date}
			,#{lic_expiration_date}
		)
	</insert>
	
	<!-- 회원 상세정보 조회 SELECT-->
	<!-- 아이디(id)가 일치하는 레코드 조회-->
	<select id="selectMember" resultType="member">
		SELECT *
		FROM member_info
		WHERE mem_id = #{mem_id}
	</select>
	
	<!-- 회원 아이디 찾기 -->
	<select id="selectTel" resultType="member">
		SELECT *
		FROM member_info
		WHERE mem_tel = #{mem_tel}
	</select>
	
	<!-- 회원 비밀번호 찾기 -->
	<select id="selectId" resultType="member">
		SELECT *
		FROM member_info
		WHERE mem_id = #{mem_id}
	</select>
	
	
</mapper>