<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.camcar.mapper.Qna_Ask_ManagerMapper">
	<!-- 게시물 목록 조회  -->    
<!-- 	<resultMap type="java.util.HashMap" id="someResultMap"> -->
<!-- 	    <result column="qna_date" property="qna" jdbcType="TIMESTAMP"/> -->
<!-- 	</resultMap> -->
	
<!-- 	<select id="selectQnaList" resultMap="someResultMap"> -->
<!-- 		SELECT mem_id, qna_type_name, qna_inquery, qna_number, qna.qna_date -->
<!-- 		FROM qna -->
<!-- 		JOIN qna_type -->
<!-- 		ON qna.qna_type_idx = qna_type.qna_type_idx -->
		
	<select id="selectQnaList" resultType="qna">
		SELECT *
		FROM qna
		<if test="!searchKeyword.equals('')">
			WHERE 
			<choose>
				<when test="searchType.equals('subject')">
					qna_inquery LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('content')">
<!-- 					board_content LIKE '%${searchKeyword}%' -->
					qna_content LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('subject_content')">
					qna_subject LIKE CONCAT('%', #{searchKeyword}, '%')
					OR qna_content LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					1 = 1  -- WHERE 절을 포함시키되 조건을 걸고 싶지 않을 경우 활용 가능한 조건식(무조건 true 가 나오는 식이면 OK)
				</otherwise>
			</choose>
		</if>
		ORDER BY
			qna_date DESC
			
		LIMIT
			#{startRow}     
			, #{listLimit}
	</select>
	
	<!-- 전체 게시물 갯수 조회 -->
	<!-- 글 목록 조회 시 검색 기능 추가 -->
	<select id="selectQnaListCount" resultType="int">
		SELECT COUNT(*)
		FROM qna
		<if test="!searchKeyword.equals('')">
			WHERE 
			<choose>
				<when test="searchType.equals('inquery')">
					qna_inquery LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('content')">
					qna_content LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('inquery_content')">
					qna_inquery LIKE CONCAT('%', #{searchKeyword}, '%')
					OR qna_content LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('name')">
					mem_id LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					1 = 1  -- WHERE 절을 포함시키되 조건을 걸고 싶지 않을 경우 활용 가능한 조건식(무조건 true 가 나오는 식이면 OK)
				</otherwise>
			</choose>
		</if>
	</select>
	
	<!-- 1:1 문의 게시물 상세보기 -->
	<select id="selectQnaDetail" resultType="qna">
		SELECT * 
		FROM qna
		WHERE qna_number = #{qna_number}
	</select>
	
	<!-- 1:1 문의 게시물 삭제 -->
	<delete id="deleteQna">
		DELETE FROM qna
		WHERE qna_number = #{qna_number}
	</delete>
	
	<!-- 1:1 문의 답글 -->
	<update id="updateQna">
		UPDATE qna
		SET
			qna_reply = #{qna_reply}
		WHERE
			qna_number = #{qna_number}
	</update>
</mapper>