<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.camcar.mapper.ReservationMapper">

	<!-- 차량 모델 리스트 조회 -->
	<select id="selectModelList">
		SELECT *
		FROM car_model_info
		WHERE 1=1
		    <if test="car_optList != null and car_optList.size() > 0">	-- car_optList가 있을 경우
		        AND car_type IN
		        <foreach item="item" index="index" collection="car_optList" open="(" separator="," close=")">
		            #{item}
		        </foreach>
		    </if>
			
		ORDER BY car_model
	</select>

	<!-- 차량 상세 리스트 조회 -->
	<select id="selectCarList">
		SELECT *
		FROM car_info
		WHERE brc_idx = #{brc_idx}
		ORDER BY car_model
	</select>
	
	<!-- 해당 일정에 예약된 차량 리스트 조회 -->
	<select id="selectResCarList">
	<![CDATA[
		SELECT c.car_idx
		FROM car_info c
		WHERE 
			brc_idx = #{brc_idx}
		AND EXISTS (
			SELECT 1 FROM res_info r
			WHERE r.car_idx = c.car_idx
			AND (
		        (r.res_rental_date <= #{endDate} AND r.res_return_date >= #{startDate})
		    )
		)
		OR car_status = '정비중'
		ORDER BY c.car_model
	]]>
	</select>
	
	<!-- 차량 상세 정보 조회 -->
	<select id="selectCarDetail">
		SELECT *
		FROM car_info
		WHERE car_idx = #{car_idx}
	</select>

	<!-- 차량 모델 이미지 정보 조회 -->	
	<select id="selectCarModelImage" resultType="String">
		SELECT car_model_image
		FROM car_model_info
		WHERE car_model = #{car_model}
	</select>
</mapper>
